.container {
  /* padding: 40px; .alice-carousel"
  background-color: #419be0; */
}

/* .container > .carousel-root > div {
  background-color: rgb(14, 14, 14);
} */

.alice-carousel__dots {
  display: none;
}

.custom-carousel {
  background-color: brown;
}
